@*@using FinTracker.Service.ViewModels.Category
@model GetCategoryViewModel

@{
    var categoryName = Model?.Name ?? "<new>";
    ViewData["Title"] = $"Category '{categoryName}'";
}


<h2>@Model?.Name</h2>

<asp-form action="">
    @Html.DisplayNameFor(model => model.Name)
    <input type="text" readonly="readonly" asp-for="Name" />
</asp-form>


<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>*@